{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <h2 class="text-center mb-4" style="color: #2c1e1e">Careers with Us</h2>
  <p class="text-muted fs-5 text-center mb-4">
    Join our dynamic team and be part of a fast-growing platform revolutionizing
    job search and hiring.
  </p>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-4">
      <div class="card h-100 border-0 shadow">
        <div class="card-body">
          <h5 class="card-title">Frontend Developer</h5>
          <p class="card-text">
            We're looking for a creative developer who loves turning designs
            into pixel-perfect experiences.
          </p>
          <a href="#" class="btn btn-dark button-coustom btn-sm">Apply Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 border-0 shadow">
        <div class="card-body">
          <h5 class="card-title">Marketing Executive</h5>
          <p class="card-text">
            If you know how to grow a brand and build engagement, we want you on
            board!
          </p>
          <a href="#" class="btn btn-dark btn-sm button-coustom">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
