{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <h2 class="text-center mb-4 text-dark fs-md-5">About Us</h2>
  <p class="text-dark fs-4 text-center mb-4">
    We're on a mission to connect job seekers with dream opportunities through a
    simple, powerful platform.
  </p>
  <div class="row">
    <div class="col-md-6 text-dark">
      <p>
        Our platform bridges the gap between employers and talented
        professionals. We focus on ease of use, real-time updates, and access to
        genuine job opportunities across industries.
      </p>
    </div>
    <br />
    <div class="col-md-6 text-dark">
      <p>
        With a clean, modern design and AI-powered recommendations, we're here
        to make your career journey smoother, faster, and more fulfilling.
      </p>
    </div>
  </div>
</div>
{% endblock %}
